

body {
    margin: 0;
    padding: 0;
    /* On a appliqué Eras en priorité, puis des polices sans-serif rondes en secours */
    font-family: "Eras Demi ITC", "Eras Bold", "ITC Eras", sans-serif;
    
    background-color: #F7F7F7;
    

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
    text-align: center;
}


h1, h2, .cta-button {
    font-family: "Eras Demi ITC", sans-serif;
    text-transform: uppercase; 
    font-weight: bold;
}


#header h1 {
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: #102991;
    margin: 0 auto 25px auto;
    padding-bottom: 20px;
    position: relative;
    display: inline-block;
}

#header h1::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 15%;
    width: 70%;
    height: 2px;
    background-color: #102991;
}

.pic-wrapper {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.pic-wrapper img {
    max-width: 450px;
    width: 80%;
    border-radius: 8px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    border: 4px solid white;
}

.main { position: relative; z-index: 2; padding: 60px 0; }

.container {
    max-width: 750px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.95);
    padding: 50px;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}

.icons-grid {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 20px;
    list-style: none;
    padding: 0;
    margin-top: 40px;
}




/* Style commun pour le bouton envoyer ET le lien de l'accueil */
input[type="submit"].primary, a.primary {
    background: #102991; 
    color: white !important; 
    border: none;
    padding: 15px 40px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 1px;
    transition: 0.3s;
    display: inline-block;
}

/* Effet au survol*/
input[type="submit"].primary:hover, a.primary:hover {
    background: #102991;
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
.social-footer {
    padding: 40px 20px;
    background-color: #F7F7F7; 
    border-top: 1px solid #E5E5E5; 
    width: 100%;
}

.social-footer p {
    font-family: 'Eras Demi ITC', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 20px;
    color: #333;
}
.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.social-icons img {
    width: 30px; 
    height: auto;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.social-icons img:hover {
    transform: scale(1.1); /* Petit effet de zoom au survol */
    opacity: 0.8;
}